/* CSS declarations go here */
body {
  font-family: sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}


.body-fill {
  overflow: hidden;
  position:relative;
  width: 100%;
  height: calc(100% - 3em - 1px);
}

.navbar {
  margin: 0;
  height: 3em;
}

#game-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#game-container > .canvas {
  display: inline !important;
}